@import "../../variables.scss";

#tests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: $text-color;

    .test-tile {
      background-color: $dark-gray;
      padding: 1rem;
  
  
      &:hover {
        background-color: $gray;
        cursor: pointer;
      }
    }
  }
}
