$light-gray: rgb(40, 40, 40);
$darker-light-gray: rgb(32, 32, 32);
$gray: rgb(26, 26, 26);
$dark-gray: rgb(17, 17, 17);

$text-color: #fff;


$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

$green: rgb(0, 255, 0);
$dark-green: rgb(0, 84, 0);

$red: rgb(255, 0, 0);
$dark-red: rgb(76, 0, 0);